
[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
excludesfile = /opt/boxen/config/git/gitignore

[hub]
protocol = https
[user]
	name = Kevin Jones-Evans
	email = kevin@littlelines.com
